#!/usr/bin/make -f

%:
	dh $@


override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr

override_dh_auto_build:
	git clone https://github.com/AudioReach/audioreach-pipewire-plugin.git audioreach-pipewire-plugin
	cd audioreach-pipewire-plugin && git checkout master

